@page
@model ProiectMedii.Pages.PatientFiles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PatientFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientFile.Id" />
            <div class="form-group">
                <label asp-for="PatientFile.Conditions" class="control-label"></label>
                <input asp-for="PatientFile.Conditions" class="form-control" />
                <span asp-validation-for="PatientFile.Conditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientFile.PastVisitsSummary" class="control-label"></label>
                <input asp-for="PatientFile.PastVisitsSummary" class="form-control" />
                <span asp-validation-for="PatientFile.PastVisitsSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientFile.PatientId" class="control-label"></label>
                <select asp-for="PatientFile.PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                <span asp-validation-for="PatientFile.PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
