@page
@model ProiectMedii.Pages.Patients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Patient.FirstName"></label>
                <input asp-for="Patient.FirstName" class="form-control" />
                <span asp-validation-for="Patient.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.LastName"></label>
                <input asp-for="Patient.LastName" class="form-control" />
                <span asp-validation-for="Patient.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.IdCard"></label>
                <input asp-for="Patient.IdCard" class="form-control" />
                <span asp-validation-for="Patient.IdCard" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.Address"></label>
                <input asp-for="Patient.Address" class="form-control" />
                <span asp-validation-for="Patient.Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.DateOfBirth"></label>
                <input asp-for="Patient.DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="Patient.DateOfBirth" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Patient.Gender"></label>
                <select asp-for="Patient.Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Patient.Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.Email"></label>
                <input asp-for="Patient.Email" class="form-control" />
                <span asp-validation-for="Patient.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.HashedPassword"></label>
                <input asp-for="Patient.HashedPassword" type="password" class="form-control" />
                <span asp-validation-for="Patient.HashedPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.PhoneNumber"></label>
                <input asp-for="Patient.PhoneNumber" class="form-control" />
                <span asp-validation-for="Patient.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Patient.InsuranceProvider"></label>
                <input asp-for="Patient.InsuranceProvider" class="form-control" />
                <span asp-validation-for="Patient.InsuranceProvider" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create Patient</button>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
